<form action="/users/new" method="get" accept-charset="UTF-8">
  <label for="username">Username:</label><br>
  <input type="text" id="username" name="username"><br>
  <label for="email">email:</label><br>
  <input type="email" id="email" name="email"><br>
  <label for="pwd">Password:</label><br>
  <input type="password" id="pwd" name="pwd"><br><br>
  <input name="commit" type="submit" value="Submit" data-disable-with="Submit" />
</form>

